<html lang="en">

    <head>
  
      <title>Аuthorization</title>
  
      <style>
        #auth{width: 98%;}
  
        #auth{width: 98%;}
  
        body {
          background: url(https://media.gettyimages.com/photos/blur-background-picture-id492276594?b=1&k=6&m=492276594&s=612x612&w=0&h=d2rFMkecrhmDX-eXGzb_7gp0T0p2TvtIsTxxtNAIsIo=) no-repeat;
          -moz-background-size: 100%;
          -webkit-background-size: 100%; 
          -o-background-size: 100%;
          background-size: 100%;
         }
 
         #button8{text-align: right;}
         #button8:hover { background: rgb(255, 255, 255);
         color: black; }
       #button8:active { background: white;
       color: black; }
 
        </style>
 
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   </head>
 
   <body> 
 
  
       <!--Header-->
          <div class="jumbotron jumbotron-fluid bg-dark">
            <div class="container ">
                <div class="row ">
                        <div class="col-sm text-light">
                                <h3>
                                    <img src="логотип сервиса" width="45" height="45" 
                                    class="d-inline-block text-center " alt="">
                                    Cybergoose inc
                                </h3>
                        </div>
                        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a class="nav-link active" id="button8" href="">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="button8" href="#">Визуализация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="button8" href="#">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="button8" href="#">Отзыв</a>
          </li>
        <div class="w-100"></div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
          <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js">
          </script>
          <script src="https://yastatic.net/share2/share.js" async="async">
          </script>
          <div class="ya-share2" 
          data-services="vkontakte,facebook,odnoklassniki,telegram,twitter,gplus" 
          data-title="Для изучения тепловых проессов по физике я использую изумительно удобное боярское приложениие Cybergoose'я, а вы?" 
          data-url="<!--ССЫЛКА-->"
          data-image="<!--ПИКЧА-->"
          data-counter>
          </div>
        </div>
                        </ul>
                </div>
            </div>
    </div>  
  
  
    <center><div class="alert alert-dark" role="alert" id="auth">
              <div class="container">
                  <h3>
                      <class="d-inline-block text-center" alt="">
                      Авторизация
                  </h3>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1"> </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите почту">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1"></label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Введите пароль">
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  Запомнить
                </label>
                <small id="emailHelp" class="form-text text-muted">все данные конфиденциальны</small>
              </div>
              <button type="submit" class="btn btn-success">Войти</button>
              <button type="submit" class="btn btn-success">Зарегистрироваться</button>
            </form>
              </div>
    </div></center>
        
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
          </body>
        </html>