<!doctype html>
<html lang="ru">
  <head>
    <title>Отзыв</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Боярский сервис с анимированными тепловыми процессами по физике для 8-10 классов"> 
    <meta name="Keywords" content="кипение, испарение, кристаллизация веществ, тепловые опыты, тепловые процессы, термодинамика, физика, химия, 8 класс, 9 класс, 10 класс">
    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!--<canvas id="myChart"></canvas>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <link href="style.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>
   
    <!--Header-->
    <div class="jumbotron jumbotron-fluid bg-dark">
        <div class="container ">
            <div class="row ">
                <div class="col-sm text-light">
                    <h3>
                    <img src="логотип сервиса" width="45" height="45" class="d-inline-block text-center " alt="">
                    Cybergoose inc
                    </h3>
                </div>
                <ul class="nav nav-pills nav-fill">
					<li class="nav-item">
						<a class="nav-link " id="button8" href="/cybergoose">Главная</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="button8" href="/visual">Визуализация</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="button8" href="/aboutus">О нас</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" id="button8" href="/feedback">Отзыв</a>
					</li>
					<div class="w-100"></div>
					<div class="col"></div>
					<div class="col"></div>
					<div class="col">
						<script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"> </script>
						<script src="https://yastatic.net/share2/share.js" async="async"> </script>
						<div class="ya-share2" 
							data-services="vkontakte,facebook,odnoklassniki,telegram,twitter,gplus" 
							data-title="Для изучения тепловых процессов по физике я использую изумительно удобное боярское приложениие Cybergoose'я, а вы?" 
							data-url="<!--ССЫЛКА-->"
							data-image="<!--ПИКЧА-->"
							data-counter>
						</div>
					</div>
                </ul>
            </div>
        </div>
    </div>  

    <div class="alert alert-dark" role="alert">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1>Связаться с нами</h1>
                        <p class="lead">Вы можете оставить отзыв о нашем боярском сервисе или связаться с компанией Cybergoose:</p>
                        <form id="contact-form" method="post" action="contact.php" role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_name">Ваше имя</label>
                                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Пожалуйста, введите имя" required="required" data-error="Это поле обязательно для заполнения">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_email">Ваш адрес электронной почты</label>
                                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Пожалуйста, введите адрес электронной почты" required="required" data-error="VЭто поле обязательно для заполнения">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_message">Отзыв</label>
                                        <textarea id="form_message" name="message" class="form-control" placeholder="Пожалуйста, введите сообщение для Cybergoose'я" rows="4" required="required" data-error="Ваше мнения очень важно для нас"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md">
                                        <p class="text-muted"><strong>*</strong> Все поля необходимы для заполнения</p>
                                    </div>
                                </div>
                                    <div class="col-md-12">
                                    <input type="submit" class="btn btn-success btn-send" value="Отправить">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="validator.js"></script>
    <script src="contact.js"></script>
  </body>
</html>