<html lang="en">

  <head>
    <title>Cybergoose</title>

    <style>
        
        body {
         background: url(https://media.gettyimages.com/photos/blur-background-picture-id492276594?b=1&k=6&m=492276594&s=612x612&w=0&h=d2rFMkecrhmDX-eXGzb_7gp0T0p2TvtIsTxxtNAIsIo=) no-repeat;
         -moz-background-size: 100%;
         -webkit-background-size: 100%; 
         -o-background-size: 100%;
         background-size: 100%;
        }
       </style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>

  <body> 

 
      <!--Header-->
      <div class="jumbotron jumbotron-fluid bg-dark">
          <div class="container ">
              <div class="row ">
                  <div class="col-sm text-light">
                      <h3>
                      <img src="картинка" width="45" height="45" 
                        class="d-inline-block text-center " alt="">
                       Cybergoose inc
                      </h3>
                  </div>
                  <ul class="nav nav-pills nav-fill">
                      <li class="nav-item">
                           <a class="nav-link " href="127.0.0.1:8000/cybergoose/">Главная</a>
                      </li>
                      <li class="nav-item">
                           <a class="nav-link active" href="http://127.0.0.1:8000/visual/">Визуализация</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="#">Расчёты</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link " href="http://127.0.0.1:8000/feedback/">Отзыв</a>
                      </li> 

                      <div class="w-100"></div>
                          <div class="col">
                          </div>
                          <div class="col">
                          </div>
                          <div class="col">
                              <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js">
                              </script>
                              <script src="https://yastatic.net/share2/share.js" async="async">
                              </script>
                              <div class="ya-share2" 
                                  data-services="vkontakte,facebook,odnoklassniki,telegram,twitter,gplus" 
                                  data-title="Для изучения тепловых проессов по физике я использую изумительно удобное боярское приложениие Cybergoose'я, а Вы?" 
                                  data-url=""
                                  data-image="" 
                                  data-counter>
                             </div>
                         </div>  
                  </ul>
              </div>
          </div>
      </div>  
  
  <!--Jumpotron-->
  <div class="jumbotron" >
      <h1 class="display-3">Доброго здравия!</h1>
      <p class="lead">Наше приложение предоставляет возможность работы с тепловыми физическими процессами, визуализации и расчета необходимых величин</p>
      <hr class="my-4">
      <p>Для удобства и возможности использования дополнительных функций приложения, вы можете</p>
      <p class="lead">
          <div class="container ">
              <div class="row ">
                  <div class="col">
									</div>
									<div class="col">
                    <a class="btn btn-success btn-lg" href="http://127.0.0.1:8000/reg" role="button">Зарегестрироваться</a>
                  </div>
                  <div class="col">
                    <a class="btn btn-success btn-lg" href="http://127.0.0.1:8000/enter" role="button">Авторизироваться</a>
                  </div>
                  <div class="col">
                    </div>
                  <div class="col">
                  </div>

      </p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>