<!doctype html>
<html lang="en">
  <head>
      <title>Cybergoose</title>
      <!--<canvas id="myChart"></canvas>-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
  

    <style>
      #griphicandmenu{width: 100%}
    #cv{width: 520px;
    background: white;
    color: black;
    box-shadow: black;
    -webkit-box-shadow: 0 1px 4px rgb(0, 0, 0);


    }
   
    .addp {
      background: rgba(26, 184, 26, 0.89);
      color: white;
        width: 520px;
        height: 35px;
    }
    </style>
    
  </head>

<body>
      

      <!--Header-->
      <div class="jumbotron jumbotron-fluid bg-dark">
          <div class="container ">
              <div class="row ">
                  <div class="col-sm text-light">
                      <h3>
                      <img src="картинка" width="45" height="45" 
                        class="d-inline-block text-center " alt="">
                       Cybergoose inc
                      </h3>
                  </div>
                  <ul class="nav nav-pills nav-fill">
                      <li class="nav-item">
                           <a class="nav-link " href="#">Главная</a>
                      </li>
                      <li class="nav-item">
                           <a class="nav-link active" href="#">Визуализация</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="#">Расчёты</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link " href="#">Отзыв</a>
                      </li> 

                      <div class="w-100"></div>
                          <div class="col">
                          </div>
                          <div class="col">
                          </div>
                          <div class="col">
                              <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js">
                              </script>
                              <script src="https://yastatic.net/share2/share.js" async="async">
                              </script>
                              <div class="ya-share2" 
                                  data-services="vkontakte,facebook,odnoklassniki,telegram,twitter,gplus" 
                                  data-title="Для изучения тепловых проессов по физике я использую изумительно удобное боярское приложениие Cybergoose'я, а Вы?" 
                                  data-url=""
                                  data-image="" 
                                  data-counter>
                             </div>
                         </div>  
                  </ul>
              </div>
          </div>
      </div>  
         
        <!--Graph--> 
        <div class="container" id="griphicandmenu">
                        <div class="row">
                          <div class="col-sm">
                              <h1><center>График</center></h1>
                              <div class="container-fluid ">
                          
                                      <div style="width:75%;">
          <canvas id="myChart" width="120" height="100"></canvas>
          <script>
            var canvas = document.getElementById('myChart');
            var data = {
              labels: ["January", "February", "March", "April", "May", "June", "July"],
              datasets: [{
                label: "My First dataset",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 5,
                pointHitRadius: 10,
                data: [],
              }]
            };
            
            function adddata() {
              var nt = Number(document.getElementById('nt').value);//начальная температура
              var x = 0 ;
              var y = 0 ;
              var et = Number(document.getElementById('et').value) ; //конечная температура
              var tplav = Number(document.getElementById('tplav').value) ;//температура плавления
              var m = Number(document.getElementById('m').value) ;//масса
              var kpd = Number(document.getElementById('kpd').value) ;//кпд
              var pn = Number(document.getElementById('pn').value) ;//мощность нагревателя
              var l = Number(document.getElementById('l').value) ;//удельная теплота парообразования
              var lambda = Number(document.getElementById('lambda').value) ;//удельная теплота плавления
              var tparoobraz = Number(document.getElementById('tparoobraz').value);//температура парообразования
              var Ctverdoe = Number(document.getElementById('Ctverdoe').value);//теплоёмкость в твёрдом
              var Czhidkoe = Number(document.getElementById('Czhidkoe').value);//теплоёмкость в жидком
              var x1 = 0;
              var y1 = nt;
              var x2 = ((Ctverdoe*m*(tplav-nt))/(kpd+pn));
              var y2 = tplav;
              var x3 = (lambda*m)/(kpd*pn)+x2;
              var y3 = y2;
              var x4 = ((Czhidkoe*m*(tparoobraz-tplav))/(kpd+pn)) + x3;
              var y4 = tparoobraz;
              var x5 = (l*m)/(kpd*pn)+x4;
              var y5 = y4;
              var x6= (x5+x4)-x3;
              var y6=y2 ;
              var x7= x6+(x3-x2);
              var y7= y2;
              var x8= x7+(x2-x1);
              var y8= nt;
              
              
  
              myLineChart.data.datasets[0].data.push({
                x: String(x1),
                y: String(y1),
              });
              myLineChart.data.datasets[0].data.push({
                x: String(x2),
                y: String(y2),
              });
              myLineChart.data.datasets[0].data.push({
                x: String(x3),
                y: String(y3),
              });
              myLineChart.data.datasets[0].data.push({
                x: String(x4),
                y: String(y4),
              });
              myLineChart.data.datasets[0].data.push({
                x: String(x5),
                y: String(y5),
              });
              myLineChart.data.datasets[0].data.push({
                x: String(x6),
                y: String(y6),
              });
              myLineChart.data.datasets[0].data.push({
                x: String(x7),
                y: String(y7),
              });
              myLineChart.data.datasets[0].data.push({
                x: String(x8),
                y: String(y8),
              });

              myLineChart.data.labels.push(document.getElementById('nt').value);
              myLineChart.update();
            }
            
            var option = {
              showLines: true
            };
            var myLineChart = new Chart(canvas, {
              type: 'scatter',
              data: data,
              options: option
            });
          </script>
    
  

  
                                </div>
                                  
                              </div>
             
                          </div>
                          
  <div class="col-sm" id="griphicandmenu">
    <h1><center> Меню </center></h1>
    <div class="container-fluid">
        <div class="dropdown" >
            <button class="btn btn-secondary dropdown-toggle" id="cv" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              выберите вещество или введите свои данные
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">спирт</a>
              <a class="dropdown-item" href="#">вода</a>
              <a class="dropdown-item" href="#">ртуть</a>
            </div>
          </div>
      <p><li><a  href="#"><input id="nt" class="form-control"  type="text" placeholder="введите начальную температуру вещества"></a></li></p>
      <p><li><a href="#"><input id="et" class="form-control" type="text" placeholder="введите конечную температуру вещества"></a></li></p>
      <p><li><a href="#"><input id="tplav" class="form-control" type="text" placeholder="введите температуру плавления/кристаллизации вещества"></a></li></p>
      <p><li><a href="#"><input id="tparoobraz" class="form-control" type="text" placeholder="введите температуру парообразования вещества"></a></li></p>
      <p><li><a href="#"><input id="l" class="form-control" type="text" placeholder="введите удельную теплоту парообразования"></a></li></p>
      <p><li><a href="#"><input id="lambda" class="form-control" type="text" placeholder="введите удельную теплоту плавления"></a></li></p>
      <p><li><a href="#"><input id="Czhidkoe"  class="form-control" type="text" placeholder="введите теплоёмкость вещества в жидком состоянии"></a></li></p>
     
      <p><li><a href="#"><input id="Ctverdoe"  class="form-control" type="text" placeholder="введите теплоёмкость вещества в твёрдом состоянии"></a></li></p>
      <p><li><a href="#"><input id="m" class="form-control" type="text" placeholder="введите массу вещества"></a></li></p>
      <p><li><a href="#"><input id="kpd" class="form-control" type="text" placeholder="введите КПД "></a></li></p>
      <p><li><a href="#"><input id="pn" class="form-control" type="text" placeholder="введите мощность нагревателя "></a></li></p>
      <p><button type="button" value="Add Data" onclick="adddata()" class="addp">применить</button></p>
    </div>
  </div>
                         </div>
                       </div>
                      </div>
      </div> </div>
      
      </div>
    
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> 
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </body>
</html>